/* Card design */
.footer{
	background-color: #333333;
	color: #CCCCCC;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer i{
	color: #CCCCCC;
	font-size: 2em;
}
.footer li{
	padding: 15px;
}
.footer p{
	padding-left: 5px;
}